.btn-main{
    background-color: #7900FF;
    border-color: #7900FF;
    border-radius: 2rem;
}

.btn-main-w{
    width:120px;
}

.btn-main-outline{
    color: #7900FF;
    background-color: transparent;
    border-color: #7900FF;
    border-radius: 2rem;
}

.btn-search{
    color: #ffffff;
    background-color: #7900FF;
    border-color: #7900FF;
    /* border-radius: 2rem; */
    /* width: 6rem; */
}

.form-search{
    width: 25rem;
}

.bg-grd{

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 100% 0%, #D7B3FF 0%, #EDE4FF 32%, #FFFFFF 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 100% 0%, #D7B3FF 0%, #EDE4FF 32%, #FFFFFF 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 100% 0%, #D7B3FF 0%, #EDE4FF 32%, #FFFFFF 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 100% 0%, #D7B3FF 0%, #EDE4FF 32%, #FFFFFF 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 100% 0%, #D7B3FF 0%, #EDE4FF 32%, #FFFFFF 100%);

}

.footer{
    background-color: #7700ff1e;
}

.fab a{
    text-decoration: none;
}

body {
    background-color: #f9f9fa
}

.padding {
    padding: 3rem !important
}


.card-outline-secondary{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom:40px;
}

.form-group .float-right{
    margin-top: 10px;
}

